.footer-container {
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #767676;

  line-height: 1.4rem;
}

.main-footer-container {
  max-width: 1200px;
}

.footer-row {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
  gap: 20px; /* Added gap for consistent spacing */
}

.footer-info .footer-column {
  flex: 1; /* Default flex for all columns */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer-info {
  border-bottom: 0.8px solid #bbbbbb;
}

/* First two columns in the second row have more width */
.footer-column:nth-child(1),
.footer-column:nth-child(2) {
  flex: 2; /* Make the first two columns twice as wide */
}

/* Ensure responsiveness */
@media (max-width: 768px) {
  .footer-row {
    flex-direction: column; /* Stack columns vertically */
  }

  .footer-column {
    flex: 1; /* Reset to equal width for smaller screens */
  }
}

.footer-logo-img {
  height: 31px;
  margin-bottom: 20px;
  width: 220px;
}
.footer-description {
  margin-bottom: 20px;
}
.footer-icon {
  margin-right: 8px;
  color: #555;
}

.recent-post {
  display: flex;
  align-items: start;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.recent-post img {
  height: 65px;
  width: 75px;
  border-radius: 0;
}

.recent-post:first-of-type {
  border-bottom: 0.08px solid #bbbbbb;
}
.post-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-content > :first-child {
  font-size: 14px;
  margin-bottom: 8px;
  color: #333333;
  font-family: "Poppins", sans-serif;
}
.footer-text {
  font-size: 11px;
}
.footer-text strong {
  color: #333333;
}

.footer-text span {
  color: red;
}

.footer-bottom-image {
  max-height: 40px;
  margin-left: auto;
}

.brand-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.brand-logo {
  max-height: 90px;
  opacity: 0.6; /* Dim the image initially */
  transition: all 0.3s ease-in-out; /* Smooth transition effect */
}
.brand-logo:hover {
  opacity: 1; /* Fully visible on hover */
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
  font-size: 14px;
  transition: color 0.3s; /* Smooth hover effect */
}

.footer-column ul li:hover {
  color: #000;
  cursor: pointer;
}

.footer-column {
  flex-grow: 1;
  padding: 15px;
  padding-left: 0px;
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333333;
  font-family: "Poppins", sans-serif;
}
