/* Second Menu Container */
.second-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  font-size: 13px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.menu--container {
  margin-top: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Browse Categories and Hamburger Menu */
.browse-categories-container {
  background-color: rgba(131, 183, 53, 1);
  display: flex;
  align-items: center;
  height: 32px;
}

.custom-dropdown span{
  margin-left: 5px;
}

.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.custom-dropdown button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.custom-dropdown button:focus {
  outline: none;
}

.custom-dropdown .dropdown-options {
  position: absolute;
  top: 100%;
  left: -25px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  z-index: 10;
  width: 200px;
  scrollbar-width: none;
  max-height: 700px;
}


.custom-dropdown .dropdown-options li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 13px;
  color: #333;
}

.custom-dropdown .dropdown-options li:hover {
  background-color: rgba(131, 183, 53, 0.2);
}

/* Dropdowns and Buy Button */
.dropdowns-container {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 32px;
}

.buy-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

.buy-btn:hover {
  background-color: rgba(131, 183, 53, 0.2);
}

/* Special Offer and Purchase Theme Button */
.offer-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.special-offer-text {
  color: rgba(131, 183, 53, 1);
  font-weight: 600;
}

.purchase-btn {
  padding: 8px 0px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.purchase-btn:hover {
  background-color: rgba(131, 183, 53, 1);
}
