/* Menu Container */
.menu-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0 0;

  max-width: 1200px;

  margin: 0 auto;
  
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}
.menu-container {
}

.logo-container img{
  max-width: 245px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 105px;
}

.logo-container {
  padding: 0 10px;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 0 10px;
  color: #767676;
  border: 1px solid #c3c2c2;
  flex-grow: 1;
  height: 46px;
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border: none;
  width: 70%;
  color: #767676;
}


.search-input:focus {
  outline: none; 
  border: none; 
}

.category-dropdown {
  display: none; /* Hiding default dropdown */
}

.search-container .custom-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  width: 150px;
  cursor: pointer;
  padding: 8px;
  background-color: #fff;
  color: #767676;
  font-size: 14px;
  height: 100%;
  border-left: 1px solid #c3c2c2;
  border-right: 1px solid #c3c2c2;
}

.dropdown-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  margin-right: 15px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #c3c2c2;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-options li {
  padding: 8px;
  font-size: 14px;
  color: #767676;
  cursor: pointer;
}

.dropdown-options li:hover {
  background-color: #f1f1f1;
  color: #28a745;
}

.search-btn {
  flex: 1;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  color: #767676;
  background-color: transparent;
}

.auth-container {
  display: flex;
  align-items: center;
}

.auth-btn {
  margin-left: 10px;
  border: none;
  cursor: pointer;
  background-color: none;
  font-size: 13px;
  color: #333333;
  font-weight:600;
}

.auth-btn:hover {
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 10px;
  font-size: 20px;
}

.icons-container .icon {
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.icon:hover {
  color: #28a745; 
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: rgba(131, 183, 53, 1);
  color: white;
  font-size: 9px;
  font-weight: 400;
  border-radius: 50%;
  width: 15px;
  text-align: center;
  z-index: 1;
  line-height: 15px;
}

.cart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: 10px;
  
  font-size: 20px;
}

.cart-price{
  font-size: 13px;
  font-weight: 600;
  color: #333333;
}
